<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mz.dao.ManagerMapper">
    <select id="queryAllManagers" resultType="Managers">
        select * from ssmbuild.managers;
    </select>

    <delete id="deleteManager" >
        delete from ssmbuild.managers where id=#{id};
    </delete>
    <insert id="addManager" parameterType="Managers">
        insert into ssmbuild.managers(id, password)
        values (#{id},#{password});
    </insert>
    <select id="queryManagerById" resultType="Managers">
        select * from ssmbuild.managers where id=#{id};
    </select>

</mapper>