<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mz.dao.StudentMapper">
    <insert id="addStudent" parameterType="XdStudents">
        insert into ssmbuild.xdstudents(id) values (#{id})
    </insert>
    <update id="addPassword" parameterType="XdStudents">
        update ssmbuild.xdstudents set password=#{password} where id=#{id};
    </update>
    <select id="queryStudentById" resultType="XdStudents" >
        select * from ssmbuild.xdstudents where id=#{id};
    </select>
    <select id="queryAllStudent" resultType="XdStudents" >
        select * from ssmbuild.xdstudents;
    </select>
    <update id="resetPassword">
        update ssmbuild.xdstudents set password=null where id=#{id};
    </update>
    <delete id="deleteStudent">
        delete from ssmbuild.xdstudents where id=#{id};
    </delete>
</mapper>